<!doctype html>
<html ng-app="mainApp">
  <head>
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="cardData.js"></script>
    <script src="index.js"></script>

    <!-- components -->
    <!-- <script src="components/baseCard.js"></script> -->

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">

    <!-- styles -->
    <link rel="stylesheet" href="styles/sections.css">
    <link rel="stylesheet" href="styles/utils.css">
    <link rel="stylesheet" href="styles/fullcard.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link rel="stylesheet" href="styles/baseCard.css">
  </head>
  <body>
    <div ng-controller="MainController as controller">
      <section class="flexContainer editSection"> <!-- card edit -->        
        <form action="" class="editCard">
          <div>
            {{data.cardZoom}}
            <input type="range" id="zoom" name="zoom" min="1" max="2" step="0.1" ng-model="data.cardZoom">
          </div>
          <div>
            <label for="background">Background</label>
            <input type="color" id="background" name="background" ng-model="data.currentCard.mainColor">
          </div>
          <div>
            <label for="cardName">Card Name</label>
            <input type="text" id="cardName" name="cardName" size="10" ng-model="data.currentCard.name">
          </div>

          <div>
            <label for="numberDesc">numberDesc</label>
            <input type="text" id="numberDesc" name="numberDesc" size="10" ng-model="data.currentCard.numberDesc">
          </div>
          <div>
            <label for="numberValue">numberValue</label>
            <input type="text" id="numberValue" name="numberValue" size="10" ng-model="data.currentCard.numberValue">
          </div>
          <div>
            <label for="icon">icon</label>
            <input type="text" id="icon" name="icon" size="10" ng-model="data.currentCard.icon">
          </div>

          <div>
            <div ng-repeat="(index, attack) in data.currentCard.attacks">
              attack {{index+1}}
              <div>
                <label for="attackName{{index}}">Name</label>
                <input type="text" id="attackName{{index}}" name="attackName{{index}}" size="10" ng-model="attack.name">
              </div>
              <div>
                <label for="attackDescription{{index}}">Description</label>
                <input type="text" id="attackDescription{{index}}" name="attackDescription{{index}}" size="10" ng-model="attack.description">
              </div>
            </div>
          </div>

          
        </form>
        <div class="card baseCard editCard">
          <div class="cardBorder">
            <div class="back" ng-style="{'background': data.currentCard.mainColor}">
              <div class="top">
                <div class="title cardName">{{data.currentCard.name}} </div>
                <div class="subtitleIcon">
                  <span class="subtitle">{{data.currentCard.numberDesc}}</span><span class="title">{{data.currentCard.numberValue}}</span>
                  <div class="icon">
                    <div class="{{data.currentCard.icon}}"></div>
                  </div>
                </div>
              </div>
              <div class="imageHalf">
                <!-- <img src="{{data.currentCard.src}}" class="mainImg"> -->
              </div>
              <div class="attackHalf">
                <div ng-repeat="attack in data.currentCard.attacks">
                  <div class="attackName">{{attack.name}}</div>
                  <div class="attackDescription">{{attack.description}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="flexContainer"> <!-- card list -->
        <div
          class="card baseCard"
          ng-repeat="card in data.cardList"
          ng-class="{selected : card == data.currentCard}"
          ng-click="data.currentCard = card"
        >
          <!-- <base-card card="card"></base-card> -->
          <div class="cardBorder">
            <div class="back" ng-style="{'background': card.mainColor}">
              <div class="top">
                <div class="evolutionStage">
                  <div class="hasStage">
                    <div class="stageHead">
                      <span>stage</span><span class='stageNumber'>2</span>
                    </div>
                    <div class="stageImg">
                      <img src="" alt="">
                    </div>
                    <div class="stageTextContainer"></div>
                    <div class="stageText">evolves from <span class='evolvesFrom'>x</span></div>
                  </div>
                  <div class="basic">
                    <div class="stageHead">
                      <span class="">basic</span>
                    </div>
                  </div>
                </div>
                <div class="title cardName">{{card.name}} </div>
                <div class="subtitleIcon">
                  <span class="subtitle">{{card.numberDesc}}</span><span class="title">{{card.numberValue}}</span>
                  <div class="icon">
                    <div class="{{card.icon}}"></div>
                  </div>
                </div>
              </div>
              <div class="imageHalf">
                <!-- <img src="{{card.src}}" class="mainImg"> -->
              </div>
              <div class="attackHalf">
                <div ng-repeat="attack in card.attacks">
                  <div class="attackName">{{attack.name}}</div>
                  <div class="attackDescription">{{attack.description}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>