<!doctype html>
<html ng-app="mainApp">
  <head>
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="cardData.js"></script>
    <script src="index.js"></script>

    <!-- components -->
    <!-- <script src="components/baseCard.js"></script> -->

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">

    <!-- styles -->
    <link rel="stylesheet" href="styles/sections.css">
    <link rel="stylesheet" href="styles/utils.css">
    <link rel="stylesheet" href="styles/fullcard.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link rel="stylesheet" href="styles/baseCard.css">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <div ng-controller="MainController as controller">
      {{data.currentCard.colors}}
      <div class="input-group">
        <div class="form-floating">
          <select class="form-select" id="floatingSelect" ng-model="data.currentCard.colors.background.type">
            <option value="solid">Solid</option>
            <option value="linearGradient">Linear Gradient</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <label for="floatingSelect">Background</label>
        </div>
        <div class="form-control">
          <div ng-if="data.currentCard.colors.background.type === 'solid'">
            <input type="color" class="form-control form-control-color w-100" ng-model="data.currentCard.colors.background.solid">
          </div>
          <div ng-if="data.currentCard.colors.background.type === 'linearGradient'">
            <div ng-repeat="gradientColor in data.color">
              <input type="color" class="form-control form-control-color" ng-model="data.color[$index].value">
              <button class="btn btn-danger btn-close" ng-click="removeColor(data.color, index)"></button>
            </div>
            <button ng-click="addColor(data.color)">Add Color</button> 
          </div>

        </div>
      </div>
      
      <section class="editSection"> <!-- flexContainer card edit -->

        <!-- svg card -->
        <div class="baseCard" style="flex: 1;">
          <!--  style="background-color: pink; width: 100%; height: 100%;" -->
          <svg width="217" height="313" viewbox="0 0 217 313">
            <defs>
              <linearGradient id="Gradient1">
                <stop offset="0%" stop-color="blue" />
                <stop offset="100%" stop-color="red" />
              </linearGradient>
              <linearGradient id="Gradient2">
                <stop offset="0%" stop-color="red" />
                <stop offset="100%" stop-color="blue" />
              </linearGradient>

              <linearGradient id="GradientTest">
                <stop ng-repeat="gradientColor in data.color" offset="{{$index * (100 / (data.color.length - 1))}}%" stop-color="{{gradientColor.value}}" />
              </linearGradient>
            </defs>

            <rect class="background"
              stroke-width=10
              width=206
              height=303
              x=5
              y=5
              rx=10
              ry=10
              ng-style="{
                fill: 'url(#GradientTest)',
                stroke: data.currentCard.colors.border.value,
              }"
            />

            <g class="heading" transform="translate(20 15)">
              <g>
                <text text-anchor="start" y="14" class="title glow">{{data.currentCard.name}}</text>
              </g>
              <g transform="translate(174 0)">
                <text text-anchor="end" x="-4" y="14" class="glow">
                  <tspan class="subtitle" dx="4">{{data.currentCard.numberDesc}}</tspan>
                  <tspan class="title" dx="-4">{{data.currentCard.numberValue}}</tspan>
                </text>
              </g>
            </g>
            <g class="image" transform="translate(20 35.5)">
              <rect width="174" height="117" stroke="black" fill="transparent" stroke-width="2"/>
            </g>

            <g class="body glow" transform="translate(20 168)">
              <text ng-repeat="(index, attack) in data.currentCard.body.attacks" ng-attr-transform="translate(0 {{index * 20}})">
                <tspan 
                  ng-if="attack.type === 'name'"
                  class="attackName"
                >
                  {{attack.text}}
                </tspan>

                <!-- TODO: redo this sizing, add size info to body data? -->

                <tspan 
                  ng-if="attack.type === 'description'"
                  class="attackDescription"
                  ng-attr-dy="{{data.currentCard.body.attacks[index-1].type === 'description' && -10 || -4}}"
                >
                  {{attack.text}}
                </tspan>
                  
              </text>
            </g>

          </svg>
        </div>

        <!-- old card -->
        <div class="cardContainer baseCard editCard" style="margin: 0;">
          <div class="cardBorder">
            <div class="back" ng-style="{'background': data.currentCard.mainColor}">
              <div class="top">
                <div class="title cardName glow">{{data.currentCard.name}} </div>
                <div class="subtitleIcon">
                  <span class="glow">
                    <span class="subtitle">{{data.currentCard.numberDesc}}</span>
                    <span class="title">{{data.currentCard.numberValue}}</span>
                  </span>
                  
                  <div class="icon">
                    <div class="{{data.currentCard.icon}}"></div>
                  </div>
                </div>
              </div>
              <div class="imageHalf">
                <!-- <img src="{{data.currentCard.src}}" class="mainImg"> -->
              </div>
              <div class="attackHalf glow">
                <div ng-repeat="attack in data.currentCard.attacks">
                  <div class="attackName">{{attack.name}}</div>
                  <div class="attackDescription">{{attack.description}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- form -->
        <form class="editCard">
          <button class="btn btn-primary" ng-click="newCard()">Make New Card</button>

          <div class="accordion" id="editCardData">
            <!-- colors -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseColors" aria-expanded="true" aria-controls="collapseColors">
                  Colors
                </button>
              </h2>
              <div id="collapseColors" class="accordion-collapse collapse show" data-bs-parent="#editCardData">
                <div class="accordion-body">
                  <div class="input-group mb-3">
                    <div class="form-floating">
                      <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>Solid</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <label for="floatingSelect">Background</label>
                    </div>
                    <input type="color" id="background" name="background" class="form-control form-control-color" ng-model="data.currentCard.mainColor">
                  </div>
                </div>
              </div>
            </div>

            <!-- top of card -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeading" aria-expanded="false" aria-controls="collapseHeading">
                  Heading
                </button>
              </h2>
              <div id="collapseHeading" class="accordion-collapse collapse" data-bs-parent="#editCardData">
                <div class="accordion-body">
                  <div class="input-group mb-3">
                    <span class="input-group-text">Card Name</span>
                    <input type="text" class="form-control" size="10" ng-model="data.currentCard.name">
                  </div>
        
                  <div class="input-group mb-3">
                    <span class="input-group-text">numberDesc</span>
                    <input type="text" class="form-control" size="10" ng-model="data.currentCard.numberDesc">
                    <span class="input-group-text">numberValue</span>
                    <input type="text" class="form-control" size="10" ng-model="data.currentCard.numberValue">
                  </div>
        
                  <div class="input-group mb-3">
                    <span class="input-group-text">icon</span>
                    <input type="text" class="form-control" size="10" ng-model="data.currentCard.icon">
                  </div>
        
                </div>
              </div>
            </div>

            <!-- image -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseImage" aria-expanded="false" aria-controls="collapseImage">
                  Image
                </button>
              </h2>
              <div id="collapseImage" class="accordion-collapse collapse" data-bs-parent="#editCardData">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>

            <!-- body of card -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBody" aria-expanded="false" aria-controls="collapseBody">
                  Body Text
                </button>
              </h2>
              <div id="collapseBody" class="accordion-collapse collapse" data-bs-parent="#editCardData">
                <div class="accordion-body">
                  <div ng-repeat="(index, row) in data.currentCard.body.attacks">
                    <div class="input-group">
                      <div class="form-floating">
                        <select class="form-select rounded-0" id="floatingSelect{{index}}" ng-model="row.type">
                          <option value="name" selected>Name</option>
                          <option value="description">Description</option>
                        </select>
                        <label for="floatingSelect{{index}}">Row {{index+1}}</label>
                      </div>
                      <input type="text" class="form-control" ng-model="row.text">
                      <button class="btn btn-danger btn-close" ng-click="removeRow(index)"></button>
                    </div>
                  </div>
                  <button class="btn btn-primary mt-2" ng-click="addRow()">Add Row</button>
                </div>
              </div>
            </div>

            <!-- footer of card -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFooter" aria-expanded="false" aria-controls="collapseFooter">
                  Footer
                </button>
              </h2>
              <div id="collapseFooter" class="accordion-collapse collapse" data-bs-parent="#editCardData">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>

          
        </form>




      </section>

      <section class="flexContainer cardListContainer"> <!-- card list -->
        <div
          class="cardContainer baseCard"
          ng-repeat="card in data.cardList"
          ng-class="{selected : card == data.currentCard}"
          ng-click="data.currentCard = card"
        >
          <!-- <base-card card="card"></base-card> -->
          <div class="cardBorder">
            <div class="back" ng-style="{'background': card.mainColor}">
              <div class="top">
                <div class="evolutionStage">
                  <div class="hasStage">
                    <div class="stageHead">
                      <span>stage</span><span class='stageNumber'>2</span>
                    </div>
                    <div class="stageImg">
                      <img src="" alt="">
                    </div>
                    <div class="stageTextContainer"></div>
                    <div class="stageText">evolves from <span class='evolvesFrom'>x</span></div>
                  </div>
                  <div class="basic">
                    <div class="stageHead">
                      <span class="">basic</span>
                    </div>
                  </div>
                </div>
                <div class="title cardName glow">{{card.name}} </div>
                <div class="subtitleIcon">
                  <span class="glow">
                    <span class="subtitle">{{card.numberDesc}}</span>
                    <span class="title">{{card.numberValue}}</span>
                  </span>
                  <div class="icon">
                    <div class="{{card.icon}}"></div>
                  </div>
                </div>
              </div>
              <div class="imageHalf">
                <!-- <img src="{{card.src}}" class="mainImg"> -->
              </div>
              <div class="attackHalf glow">
                <div ng-repeat="attack in card.attacks">
                  <div class="attackName">{{attack.name}}</div>
                  <div class="attackDescription">{{attack.description}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>