body {
  font-family: system-ui;
}

@media print {    
  .editSection {
    display: none !important;
  }
}


.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.flexSection {
  flex: 50%;
}

.card {
  margin: 11px 6px;
}

.card.selected {
  box-shadow: 0 0 0 2px red;
  border-radius: 8px;
}

.cardBorder {
  padding: 10px;
  height: 313px;
  width: 216px;
  border-radius: 8px;
}

.back {
  position: relative;
  overflow: hidden;
  display: flex;

  height: 100%;
  border-radius: 4px;
  padding: 0 10px;
}

.back:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  opacity: 0.4;
}

.top {
  display: flex;
}

.attackHalf {
  filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 0px white) drop-shadow(0px 0px 0px white) drop-shadow(0px 0px 0px white);
  font-family: 'Patrick Hand', cursive;
}

.bottom {
  position: absolute;
  bottom: 0;
  float: left;
  width: calc(100% - 20px);
  text-align: right;
  font-size: 7px;
  padding: 10px;
  display: none;
}
